<% provide(:title, "User Settings" ) %>
<% provide(:heading, "User Settings" ) %>

<div id=registration-form-wrapper>

  
    <div id=registration-form-right>
      <h3> Calorie Usage </h3>
      <ul>
        <li>End Date from Today: <%= @end_date %> </li>
        <li>Total daily Energy Expn: <%= @tdee %> </li>
        <li>Daily Target Intake: <%= @daily_intake %> </li>
        <li>Daily Caloric Deficit: <%= @daily_caloric_deficit %> </li>
      </ul>

      <hr>

      <h3>Activity Level Factor </h3>
      <ul>
        <li> 1.2 :: Sedentary (Desk Job) </li>
        <li> 1.35 :: Light Activity (Train 1-3 days/week) </li>
        <li> 1.45 :: Moderatly Active (Train 3-5 days/week) </li>
        <li> 1.6-1.75 :: Very Active (Train 6-7 days/week) </li>
        <li> 1.8-1.9 :: Extremely Active (Atheltic Endurance) </li>
      </ul>

    </div>



  <div id=registration-form-inner>
    
    <div id=registration-form-left>
      <%= devise_error_messages! %>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <h2>User Settings</h2>
        </br>
        <%= fields_for :user do |a| %>
          <%= a.label :target_bf_percent %>
          <%= a.text_field :target_bf_pct %> %

          <%= a.label :Weight_deficit_per_week %>
          <%= a.text_field :deficit_amnt %> pounds

          <%= a.label :activity_level %>
          <%= a.text_field :activity_factor %>
        <% end %>

        </br></br> 
        <h2>Change Password</h2>
        </br>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password %>
        </br> 
        <%= f.submit "Update", class:"btn btn-large btn-primary" %> 

      <% end %>

      <h2> Account Settings </h2>
      </br>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    </div> 

    
  </div>
</div>
