<tr class="meal-food">
  <td class="left"><%= meal_food.name %></td>
  <td class="left">
    <%= form_for meal_food, action: :update do |f| %>
      <%= f.text_field :servings %>
    <% end %>
  </td>
  <td><%= meal_food.serving_size %> <%= meal_food.units %></td>
  <td><%= meal_food.dynamic_fat %>g</td>
  <td><%= meal_food.dynamic_carbs %>g</td>
  <td><%= meal_food.dynamic_protein %>g</td>
  <td><%= meal_food.dynamic_sodium %>mg</td>
  <td><%= link_to "&times;".html_safe, meal_food_path(meal_food.id), method: :delete, class: "delete-food" %></td>
</tr>
