<tr class="food food-tr-<%= meal_food.id %>">
  <td><%= meal_food.name  %></td>
  <td><%= render 'meal_foods/servings_box' %></td>
  <td><%= pluralize(meal_food.amount, meal_food.measure_type) %></td>
  <td><%= meal_food.fat    %></td>
  <td><%= meal_food.carbs  %></td>
  <td><%= meal_food.protien %> </td>
  <td><%= link_to "x", food_path(meal_food.id), method: :delete, remote: true %> </td>
</tr>
