<tr>
    <td class="left"><%= status_update.entry_date.strftime("%m/%d/%y") %></td>
    <td class="left phase"><%= status_update.phase %> <a href="#">+</a></td>
    <td><%= sprintf('%.2f', status_update.total_weight) %></td>
    <td><%= sprintf('%.2f', status_update.weight_change) %></td>
    <td><%= sprintf('%.2f', status_update.lbm_weight) %></td>
    <td><%= sprintf('%.2f', status_update.lbm_change) %></td>
    <td><%= sprintf('%.2f', status_update.total_lbm_change) %></td>
    <td><%= sprintf('%.2f', status_update.body_fat_pct * 100) %>%</td>
    <td><%= sprintf('%.2f', status_update.fat_change) %></td>
    <td><%= sprintf('%.2f', status_update.total_fat_change) %></td>
    <td><%= link_to('&times;'.html_safe, status_update, method: :delete, class: "delete-status") %></td>
</tr>

