<% provide(:title, "New Stat") %>
<% provide(:heading, "Welcome, #{ current_user.email }!") %>
       
<div id="stats-page-container">
  <div id="stat-form" >
    <div id="stat-form-inner"> 
      <%= render 'layouts/stat_input_form' %> 
    </div>
  </div>
  <%= render 'layouts/progress' %> 
  <%= render 'layouts/current_stats' %>
  <%= render 'layouts/settings' %>
  <%= render 'layouts/metabolism' %>
</div>



