<tr>
  <thead class=meal-thead>
    <td class=meal-thead-name> <%= meal.meal_name %> </td>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> <%= link_to "x", meal_path(meal.id), method: :delete %> </th>
  </thead>

  <tbody class=meal-tbody>

    <%= render meal.meal_foods %>
    <tr>
      <td class=search-form-block>
        <%= form_tag({:controller => "foods", :action => "save_selected"}, method: "post") do %>
          <%= text_field_tag 'search_food_text_field', nil, data: { catcomplete_source: search_foods_path }, class: "auto-complete" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td > <%= link_to "new food", nil,  {class: "new-food-button"} %> </td> 
    </tr>
  </tbody>    
</tr> 

