  <thead class=meal-thead id=meal-thead-<%= meal.id %>>
    <td class=meal-thead-name colspan="7"> <%= meal.meal_name %> </td>
    <th> <%= link_to "x", meal_path(meal.id), method: :delete, remote:true %> </th>
  </thead>

  <tbody class=meal-tbody-<%= meal.id %>>

    <%= render meal.meal_foods %>
    <tr>
      <td > <%= link_to "add food", new_food_path(meal_id: meal.id), class: "new-food-button-#{ meal.id }", remote: true %> </td> 
    </tr>
  </tbody>    

