<% provide(:title, "Meals") %> 
<% provide(:heading, "Meals") %> 

<div id=meals-page-container>

    <table id=parent-meals-table >
        <thead id=parent-meals-thead>
            <tr id=parent-meals-first-tr class=parent-meals-thead-tr>
                <th>    </th>  
                <th> Servings</th>
                <th> Serving Size  </th>  
                <th> Fat     </th>  
                <th> Carbs   </th>  
                <th> Protein </th>  
            </tr>
            <tr id=parent-meals-second-tr class=parent-meals-thead-tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td> <%=  current_user.pct_fat_satisfied      %>% </td>
                <td> <%=  current_user.pct_protein_satisfied  %>% </td>
                <td> <%=  current_user.pct_carbs_satisfied    %>% </td>
            </tr>
        </thead>
        <%= render @meals %>
        <tbody>
            <th class=remove-td-center id='new-meal-button'><%= link_to "new meal", new_meal_path, remote: true %> </th>
        </tbody>
    </table>

    <%= render 'layouts/modal' %>

</div>
