<tr class=food-tr>
    <td>Food Name</td>
    <td> 1 ounce </td>
    <td> 10 </td>
    <td> 0 </td>
    <td> 5 </td>
    <td> <%= link_to "x" %> </td>
</tr>
<tr class=food-tr>
    <td>Food Name</td>
    <td> 1 ounce </td>
    <td> 10 </td>
    <td> 0 </td>
    <td> 5 </td>
    <td> <%= link_to "x" %> </td>
</tr> <tr class=food-tr>
    <td>Food Name</td>
    <td> 1 ounce </td>
    <td> 10 </td>
    <td> 0 </td>
    <td> 5 </td>
    <td> <%= link_to "x" %> </td>
</tr> <tr class=food-tr>
    <td>Food Name</td>
    <td> 1 ounce </td>
    <td> 10 </td>
    <td> 0 </td>
    <td> 5 </td>
    <td> <%= link_to "x" %> </td>
</tr> <tr class=food-tr>
    <td>Food Name</td>
    <td> 1 ounce </td>
    <td> 10 </td>
    <td> 0 </td>
    <td> 5 </td>
    <td> <%= link_to "x" %> </td>
</tr>                
