<div id="progress" >
  <div id="progress-inner">

    <table>
      <thead>
        <tr>
          <th colspan=3><h3>Progress</h3></th>
        </tr>
        <tr>
          <th colspan=3><h4>End Date</h4></th>
          </tr> 
        <tr>
          <th colspan=3><h4><%= @end_date %></h4></th>
        </tr> 
      </thead>
      <tbody>
            <tr>
              <th> Current BF Pct </th>
              <th> Target BF Pct </th>
            </tr>
            <tr>
              <td> <%= @current_bf_pct %> % </td>
              <td> <%= @target_bf_pct %> % </td>
            </tr> 
            <tr>
              <th> Current Weight </th>
              <th> Target Weight </th>
            </tr>
            <tr>
              <td> <%= @current_weight %> </td>
              <td> <%= @target_weight %>  </td>
            </tr>
      </tbody>
    </table>


  </div>
</div> 
