<div id="progress" >
  <div id="progress-inner">

    <div id="progress-header">
      <h3> Progress </h3>
      <h4> End Date </h4>
      <%= @end_date %> 
    </div>

    <div id=progress-bottom>
      <div id=progress-bottom-inner>

        <div id=progress-current>
          <table>
            <tr>
              <th> Current BF Pct </th>
              <th> Target BF Pct </th>
            </tr>
            <tr>
              <td> <%= @current_bf_pct %> % </td>
              <td> <%= @target_bf_pct * 100 %> % </td>
            </tr>
          </table>
        </div>

        <div id=progress-end>
          <table>
            <tr>
              <th> Current Weight </th>
              <th> Target Weight </th>
            </tr>
            <tr>
              <td> <%= @current_weight %> </td>
              <td> <%= @target_weight %>  </td>
            </tr>
          </table> 
        </div>

      </div>
    </div>

  </div>
</div> 
