  <div id="progress" >
    <div id="progress-inner">
      <div id="progress-header">
        <h3> Total Overall Progress </h3>
        <p> <%= @beginning_date %> - <%= @last_date %> </p> 
      </div>
      <div id = "progress-left">
        <h4> Total Weight Change    </h4>
        <p> <%= pluralize(@total_weight_change, 'lb') %> </p>
        <h4> Total Fat Change       </h4>
        <p> <%= pluralize(@total_fat_change, 'lb') %> </p>
        <h4> Total LBM Change       </h4>
        <p> <%= pluralize(@total_lbm_change, 'lbs') %> </p>
     </div>
     <div id = "progress-right">
        <h4> Time To Goal </h4>
        <p> <%= pluralize(@time_to_goal, 'week') %> </p>
        <h4> Fat to Burn </h4>
        <p> <%= pluralize(@fat_to_burn, 'lbs') %> </p>
     </div>
    </div>
  </div> 
