<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>    
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=container>
    <div class=container-inner>

      <h1> <%= yield(:heading) %> </h1> 

      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}")%>
      <% end %>

      <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <%= render 'layouts/header' %>
        </div>
      </header> 
      
       
          <% if user_signed_in? %>
            <div class="navbar navbar-fixed-middle">
              <div class="navbar-inner">
                 <%= render 'layouts/subheader' %>
              </div>
            </div> 
          <% end %>
        
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>

    </div>
  </div>
</body>
</html>
