<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Get Joocy</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>

  <!--[if gte IE 9]>
    <style type="text/css">.gradient { filter: none; }</style>
  <![endif]-->

</head>
<body>

  <div class="wrapper">
    <div class="header container clearfix">
      <h1 class="logo">GET JOOCY!</h1>
      <ul class="nav">
        <% if trainer_signed_in? %>
          <% if client_session_active? %>
            <li><%= link_to "Clients",  clients_path %></li>
            <li><%= link_to "Stats",  status_update_path(session[:current_client]) %></li>
            <li><%= link_to "Meals",    meal_path(session[:current_client]) %></li>
            <li><%= link_to "Settings", settings_path %></li>
          <% end %>
          <li><%= link_to "Logout",  logout_path %></li>
        <% else %>
          <li><%= link_to "Login",   login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul> 
    </div> 

    <div class="main clearfix">
      <div class="container">
        <div class="content">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>
          <%= content_tag(:h1, current_trainer.get_client_name(session[:current_client]), class: 'current-client') if client_session_active? %>
          <%= yield %>
        </div>
        <% if trainer_signed_in? %>
        <div class="sidebar">
          <div class="widget widget-site-guide">
            <h4>Sidebar</h4>
            <p>This is an empty sidebar</p>
          </div>
        </div>    
        <% end %>
      </div>
    </div>

    <div class="footer">
      <div class="container clearfix">
        <p style="display:block; float:left;">Copyright &copy; <%= Time.now.year %> GetJoocy.com - All Rights Reserved.</p>
        <p style="text-align:right; display: block; float:right;">Foods: <%= GlobalFood.count %></p>
      </div> 
    </div>
  </div>

  <%= javascript_include_tag "application" %>

</body>
</html>
